$post-color: #666;

@import '../mixins.scss';

.Home {

  .list-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 1rem;
    justify-content: space-between;

    @include tablet {
      grid-template-columns: repeat(auto-fill, 49%);
    }

    @include desktop {
      grid-template-columns: repeat(auto-fill, 32%);
    }

    &-item {
      &-heading {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        overflow: hidden;
        line-height: 1.5;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &-text {
        color: $post-color;
      }
    }
  }
  .btn {
    margin-bottom: 10px;
  }
  .spinning {
    position: absolute;
    top: 14px;
    right: 20px;
    &.glyphicon {
      margin-right: 7px;
      animation: spin 1s infinite linear;
    }
  }

  @keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
  }
}
